*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poopins, sans-serif;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
} 

#header .logo {
 color: #235a30;
 font-weight: 700;
 text-decoration: none;
 font-size: 4em;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#header ul li {
    list-style: none; 
}

#header ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: #235a30;
    border-radius: 20px;
    transition: 0.5s;
}

#header ul li a:hover,
#header ul li a.active{
    background: #235a30;
    color: white;
}

#scene
{
    position: relative;
    margin-top: 250px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#scene2
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#scene #text {
    position: absolute;
    transform: translateY(100%);
    color: #235a30;
    font-family: Rancho, cursive;
    font-size: 10vw;
    white-space: no-wrap;
    text-align: center;
}

#scene2 #text2 {
    position: absolute;
    color: #235a30;
    font-family: Rancho, cursive;
    font-size: 3vw;
    white-space: no-wrap;
    text-align: center;
}

#scene2 #text3 {
    position: absolute;
    color: #235a30;
    font-family: Rancho, cursive;
    font-size: 5vw;
    white-space: no-wrap;
    text-align: center;
}

#scene img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#scene2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


.sec {
    position: relative;
    padding: 100px;
    background: #235a30;
}

.sec h2 {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.sec p {
    font-size: 1.5rem;
    color: #fff;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%); /* chamge the number to what ever so that it fits the best "100% comes from the right not the left and oposite" */
    transition: all 1s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    overflow-x: hidden;
}

.hidden2 {
    opacity: 0;
    filter: blur(); /* Added a blur effect for demonstration */
    transform: translateY(-100%);
    transition: all 1.5s;
}

.show2 {
    margin-top: 30%;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    overflow-x: hidden;
}

.hidden3 {
    opacity: 0;
    filter: blur(); /* Added a blur effect for demonstration */
    transform: translateY(-200%);
    transition: all 1s;
}

.show3 {
    margin-top: 15%;
    margin-bottom: 10%;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0px);
    overflow-x: hidden;
}